MONGO_URL=mongodb://localhost:27017
DB_NAME=shoplivebharat
CORS_ORIGINS=*

RESEND_API_KEY=
SENDER_EMAIL=onboarding@resend.dev
SENDER_NAME=ShopLiveBharat
REPLY_TO_EMAIL=
ADMIN_NOTIFICATION_EMAIL=
ADMIN_BATCH_SIZE=5
